@{
    ViewData["Title"] = "Course Evaluation";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<html>
<body>

    Why did you take this course?<br>
    <TEXTAREA name="why_course" cols=60 rows=5></TEXTAREA><br><br>

    How many hours per week were spent studying outside of class?<br>
    <TEXTAREA name="hours_week" cols=60 rows=5></TEXTAREA><br><br>

    How does this course connect with your life?<br>
    <TEXTAREA name="life_connection" cols=60 rows=5></TEXTAREA><br><br>

    What grade did you get in this course?<br>
    <select name="grade_">
        <OPTION VALUE="">
            ""
        </OPTION>
        <OPTION VALUE=A>
            A
        </OPTION>
        <OPTION VALUE=B>
            B
        </OPTION>
        <OPTION VALUE=C>
            C
        </OPTION>
        <OPTION VALUE=D>
            D
        </OPTION>
        <OPTION VALUE=F>
            F
        </OPTION>
    </select><br><br>

    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        <div class="editor-line">
            <label>@(property.DisplayName ?? property.PropertyName)</label>
            @Html.Editor(property.PropertyName)
        </div>
    }




</body>
</html>
