@{
    ViewData["Title"] = "Login";
}

<div>
    <br>
    <form action="/action_page.php">
        Username:<br>
        <input type="text" name="username" maxlength="30" size="30"><br>
        Password:<br>
        <input type="text" name="password" maxlength="30" size="30"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
