@model IEnumerable<Student_Evaluation_3.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationID)
            </td>
            <td>
                <a asp-action="Eval" asp-route-id="@item.EvaluationID">Show Eval</a> |
            </td>
        </tr>
}
    </tbody>
</table>
