@model IEnumerable<Student_Evaluation_3.Models.Course>

@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (User.IsInRole("Instructor"))
                {
                    @Html.ActionLink("Show Evaluations", "EvalList", "Evaluation", new { id = item.CourseID });
                }
                else if (User.IsInRole("Student"))
                {
                    @Html.ActionLink("Read/Edit Your Evaluation", "Eval", new { id = item.CourseID })
                }
            </td>
        </tr>
}
    </tbody>
</table>
