@model Student_Evaluation_3.Models.Stakeholder

@{
    ViewData["Title"] = "AssignGroupToCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignGroupToCourse</h2>

<h4>Stakeholder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignGroupToCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <input asp-for="CourseID" class="form-control" />
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyGroupID" class="control-label"></label>
                <input asp-for="FacultyGroupID" class="form-control" />
                <span asp-validation-for="FacultyGroupID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
